@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
}

.search-form {
  min-height: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-bar {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: antiquewhite;
}

.search-button {
  height: 36px;
  width: 65px;
  background: lightskyblue;
  border: none;
  padding: 10px, 20px;
  color: white;
}

.navBar {
  background-color: #000;
  display: block;
  padding-left: 16px;
}

.pageTitle {
  color: #fff;
}

.movieCard {
  border-radius: 10px;
  box-shadow: 0px, 5px, 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
  width: 20vw;
  border: solid;
}
ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.moviePhoto {
  width: 50%;
}
